p{
    font-family: serif; 
    line-height: 1.75em;
}

i   {
    font-family: serif; 
     color: orange;
}
h2  {
    font-family: sans; 
    color: #333;
}
<link rel="stylesheet" type="text/css" href="style-ku.css">
<style type="text/css">
@import "style-ku.css";
</style>